@font-face{
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    src: url(fonts/courbd.ttf);
}

@font-face{
    font-family: High Tower Text;
    src: url(fonts/HTOWERT.TTF);
}

@font-face{
    font-family: Wingdings;
    font-weight: normal;
    src: url(fonts/wingding.ttf);
}

@font-face{
    font-family: Arial;
    font-weight: normal;
    src: url(fonts/arial.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #A9A9A9;

    transition: background-color 0.5s ease;
}

p{
    margin: 0;
    margin-bottom: 25px;

    font-family: Courier New;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}

input[type="text"]{
    width: 80%;
    margin-bottom: 25px;
    padding: 10px;

    font-family: Courier New;
    font-size: 13px; 
    font-style: normal;
    font-weight: bold;

    background-color: transparent;

    border: 2px solid black;
}

::placeholder{
  color: black;
  opacity: 1;
}

textarea:focus, input:focus{
    outline: none;
}

input, select, textarea{
    color: black;
}


button{
    margin: 0;
    padding: 10px 20px;

    font-family: Courier New;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;

    background-color: transparent;
    color: black;

    border: 2px solid black;
    border-radius: 100px;

    cursor: pointer;
}

button:hover{
    color:red;
    border-color: red;
    mix-blend-mode:luminosity;
}

a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover{
        color: red;
        mix-blend-mode: luminosity;
}

.container{
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.container2{
    width: 400px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    border: 2px solid black;
}

.container3{
    top: 20px;
    left: 20px;

    position: absolute;
    display: flex;
    flex-direction: row;
}

.marquee{
        width: 100vw;
        display: flex;
        overflow: hidden;
}

.marquee ul{
        min-width: 100%;
        margin-top: 20px;

        --gap: 10vw;
        /* impose un écart minimum (pratique sur les écrans avec une petite largeur) */
        gap: var(--gap);
    
        /* permet d'avoir le même écart entre les deux listes */
        padding: 0 calc(var(--gap) / 2);
        display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        align-items: center;

        font-family: Courier New;
        font-size: 13px;
        font-style: normal;
        font-weight: bold;

        list-style: none;

        animation: scroll 20s linear infinite;
}

@keyframes scroll{
    to{
        transform:translateX(calc(-100%));
    }
}

.titre{
    margin: 0;
    margin-bottom: 10px;

    font-family: High Tower Text;
    font-size: 42px;
}

.titre2{
    margin: 0;
    margin-bottom: 25px;

    font-family: High Tower Text;
    font-size: 42px;
}

.goback{
    margin-top: 1px;
    margin-right: 15px;

    font-family: Arial; 
    font-size: 25px;
    font-weight: lighter;

    cursor: pointer;
}

.goback:hover{
    color: red;
    mix-blend-mode: luminosity;
}

.refresh{
    margin-top: 0.25em;
    margin-right: 15px;

    font-family: Arial; 
    font-size: 20px;
    font-weight: lighter;

    cursor: pointer;
}

.home{
    font-family: Arial; 
    font-size: 25px;
    font-weight: normal;

    cursor: pointer;
}

.image{
    margin: 0;
    margin-bottom: 5px; 

    font-family: Courier New;
    font-size: 8.2px;
}

.history {
    max-height: 185px;
    min-width: 400px;
    max-width: 400px;
    overflow-y: auto;

    text-align: left;

    scrollbar-color: black transparent;
}

.history-item {
    margin-bottom: 10px;
    padding: 10px;

    font-family: Courier New;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;

    border-bottom: 1px solid black;
}

.question {
    font-weight: bolder;
}

/* Classe pour les caractères spéciaux */
.special-char {
    margin-right: 2px;
    vertical-align:middle;

    font-family: "Wingdings";
    font-size: 20px;
    font-weight: normal;
}